---
title: "Order Shipped"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
bodyClass: bg-gray-100
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-white sm:px-0">
          <table class="w-600 sm:w-600 dark:bg-white">
            <!-- header -->

            <tr>
              <td
                class="h-325 text-center bg-100% bg-no-repeat text-gray-100"
                style="
                  background-image: url(https://i.imgur.com/3ZsU17K.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <p class="h-120 sm:h-120 sm:m-1">&zwnj;</p>
                <p class="h-40 sm:h-40 sm:m-1">&zwnj;</p>
              </td>
            </tr>
            <!-- 1st section -->
            <tr>
              <td
                class="bg-100% bg-no-repeat"
                style="
                  background-image: url(https://i.imgur.com/cOQoplF.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td class="font-medium text-white p-40 pt-0 text-15">
                            <p
                              class="
                                pt-40
                                mb-24
                                font-semibold
                                text-3xl text-center
                              "
                            >
                              Make an offer on the listing<br />
                              you have been eyeing!
                            </p>
                            <p class="font-medium text-lg mb-120 text-center">
                              Save even more on your <br />next dress!
                            </p>

                            <table>
                              <tr>
                                <td class="w-8/12">
                                  <p
                                    class="
                                      text-purple-dark text-3xl
                                      font-semibold
                                      text-start
                                    "
                                  >
                                    Offers made at the recommended offer price
                                    usually get accepted right away!
                                  </p>
                                  <p class="text-black text-20">
                                    Once the seller accepts the offer, payment
                                    will be processed.
                                  </p>
                                  <p class="text-black text-20">
                                    Buyers will
                                    <span class="text-purple-dark">not</span> be
                                    charged until <br />
                                    the seller accepts the offer.
                                  </p>
                                  <table class="mx-auto text-start mb-48">
                                    <tr>
                                      <th
                                        class="
                                          bg-purple-dark
                                          border-white border-2 border-solid
                                          rounded-full
                                          p-8
                                        "
                                      >
                                        <a
                                          href="#"
                                          class="
                                            block
                                            text-btton text-button
                                            font-semibold
                                            border-purple-new
                                            text-white
                                            leading-full
                                            py-6
                                            px-36
                                            no-underline
                                          "
                                          >SHOP NOW</a
                                        >
                                      </th>
                                    </tr>
                                  </table>
                                </td>
                                <td class="w-4/12"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- footer -->
            <tr>
              <td>
                <table
                  class="w-600"
                  style="background: linear-gradient(#5e00e7, #682aeb)"
                >
                  <tr>
                    <td class="h-24 sm:h-32"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-white h-24">
                      <p class="mb-0 text-eleven font-bold">
                        Need help? Contact us here: info@queenly.com
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center w-full">
                      <table class="w-600">
                        <tr>
                          <td class="w-3/12"></td>
                          <td class="w-1/12">
                            <a
                              href="https://www.linkedin.com/company/queenly"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/Wf8ZzfC.png"
                                alt="linkedin"
                                class="text-white"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.pinterest.com/queenlyapp/_created/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/CAYhK1u.png"
                                alt="pinterest"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.tiktok.com/@queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/APQRVHs.png"
                                alt="tiktok"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.instagram.com/queenlyapp/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NT1vR4D.png"
                                alt="instagram"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.facebook.com/queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NzdPTxH.png"
                                alt="facebook"
                              />
                            </a>
                          </td>
                          <td class="w-3/12"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <table
                        class="w-full sm:w-full mt-0 mb-3 text-white text-sm"
                      >
                        <tr>
                          <td class="w-1/5"></td>
                          <td class="w-1/5 text-right">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/terms-of-service
                              "
                                >Terms of Service</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href=" https://queenly.com/faqs/"
                                >FAQs</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5 text-left">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/privacy-policy"
                                >Privacy Policy</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5"></td>
                        </tr>
                      </table>
                      <hr
                        class="border-0 bg-white text-white h-px w-7/12 mt-2"
                      />
                      <img
                        src="https://i.imgur.com/Y0KDMcO.png"
                        alt="logo"
                        class="mb-6 p-4 w-64 h-64"
                      />

                      <p class="text-xs text-white px-120 mx-40 sm:px-6">
                        You are receiving this email because you signed up as a
                        Queenly user. We will send you emails notifying you of
                        offers, purchases, questions, and occasional promotions.
                        You can
                        <a href="..." class="text-white">unsubscribe</a> from
                        these emails.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-24 sm:h-2"></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        class="w-full text-xs ml-24 sm:ml-2 mb-6 text-white"
                      >
                        <tr>
                          <td class="w-1/3 no-underline">
                            <p>Need help? Contact us here: info@queenly.com</p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Queenly Inc - 45 Lansing St, San Francisco, CA
                              94105
                            </p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Copyright © 2020, Queenly Inc., All rights
                              reserved.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- end -->
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
