---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans bg-no-repeat ">
      <tr>
        <td align="center" class="bg-gray-100 sm:px-16">
          <table
            class="w-600 sm:w-full bg-auto bg-no-repeat z-20  bg-gradient-to-t from-white via-purple-light to-white "> 
            <!-- header -->
            <tr>
              <td class="p-48 sm:py-32 sm:px-24 text-center bg-coins bg-right ">
                <a>
                  <img class="z-10 " src="images/logoLg.png" alt="">
                </a>
                <h1 class="m-0 text-xl font-sans text-purple-dark uppercase">
                  Order Received, Queen!
                </h1>
                <h3 class="text-purple-dark text-base">ORDER NO: XXXXX</h3> 
              </td>
              
            </tr>
            
            <!-- 1st section -->
            <tr>
                  <td>
                <table align="center" class="w-600 ">
                  <tr>
                    <td>
                      <table class="w-full">
                        <tr>
                          <td class="text-left text-white p-24">
                            <h3>Name, we recieved your order!</h3>
                            <p>
                              Snap a pic of your dress then easily upload it
                              onto our app. Include the size, price, color,
                              style, designer and any details you want. Sit back
                              and relax and wait for offers to come! Plus, you
                              never pay for shipping or dry cleaning :)
                            </p>
                            <h3>Delivery Address:</h3>
                            <p>2649 Address, City, State, Zipcode</p>
                            <h3>Expected Delivery:</h3>
                            <p>December 15. 2020</p>
                            <h3>Your Order:</h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Order -->
            <tr>
              <td class="">
                <table class="w-full p-24  text-white align-text-top  ">
                  <tr>
                    <td class=" w-1/4" >
                      <a href="">
                        <img
                          src="https://via.placeholder.com/100x112"
                          alt="..."
                          class=""
                        />
                      </a>
                    </td>
                    <td class=" w-full flex space-x-4/6 m-0 ">
                      <span class=" align-text-top">Prom Dress</span>
                      <span class="ml-6" >$23.50</span>
                    </td>
                    <td class="w-full flex">
                      <span class="mt-6">details about dress</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Order -->
            <tr>
              <td class="">
                <table class="w-full p-24  text-white align-text-top  ">
                  <tr>
                    <td class=" w-1/4" >
                      <a href="">
                        <img
                          src="https://via.placeholder.com/100x112"
                          alt="..."
                          class=""
                        />
                      </a>
                    </td>
                    <td class=" w-full flex space-x-4/6 m-0 ">
                      <span class=" align-text-top">Prom Dress</span>
                      <span class="ml-6" >$23.50</span>
                    </td>
                    <td class="w-full flex">
                      <span class="mt-6">details about dress</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- payment method -->
            <tr>
              <td>
                <table class="w-full text-white m-24">
                  <tr>
                    <td>
                      <h3>Payment Method:</h3>
                      <p>credit card - visa 3945</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- total -->
            <tr>
              <td>
                <table class="w-full text-white text-right">
                  <tr>
                    <td class="w-2/4">
                    </td>
                    <td class="w-1/4">
                      <p>Subtotal:</p>
                      <p>Tax(5.3%):</p>
                      <p>Total:</p>
                    </td>
                    <td class="w-1/4 text-center">
                      <p>$278.50</p>
                      <p>$278.50</p>
                      <p>$278.50</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- spacer -->
            <tr>
              <td class="h-96 sm:h-32"></td>
            </tr>
            <!-- spacer -->
            <tr>
            <td class="h-96 sm:h-32"></td>
            </tr>
            <!-- End Note -->
            <tr>
              <td>
                <table class="w-full text-purple-dark m-36 ">
                  <tr>
                    <td>
                      <p>If you decide to cancel your order, sign in to My Account to proceed.
                        <p>Thanks</p>
                        <p>Qeenly Team</p>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Spacer -->
            <tr>
              <td>
                <table
                  align="center"
                  class="w-600 sm:w-full"
                >
                  <tr>
                    <td class="h-48 sm:h-32"></td>
                  </tr>
                  <tr>
                    <td class="h-64 sm:h-32"></td>
                </table>
              </td>
            </tr>
            <!-- spacer -->
            <tr>
              <td class="h-96 sm:h-32"></td>
            </tr>
          </table>
          <!-- Footer -->
          <table  class="w-600 bg-gradient-to-t from-purple-light to-white">
            <tr >
              <tr>
                <td class="h-48 sm:h-32"></td>
              </tr>
              <tr>
                <td class="h-64 sm:h-32"></td>
              </tr>
              <!-- Content -->
            <tr>
              <td class="text-center text-purple-dark h-64">
                <p>Need help? Contact us here: info@queenly.com</p>
                <a href="" class="no-underline">
                  <img src="images/linkedin.png" alt="" class="ml-6" />
                </a>
                <a href="" class="no-underline">
                  <img src="images/pinterest.png" alt="" class="ml-6" />
                </a>
                <a href="" class="no-underline">
                  <img src="images/tiktok.png" alt="" class="ml-6" />
                </a>
                <a href="" class="no-underline">
                  <img src="images/instagram.png" alt="" class="ml-6" />
                </a>
                <a href="" class="no-underline">
                  <img src="images/facebook.png" alt="" />
                </a>
                
                <table class="w-full mt-48 mb-6">
                  <tr>
                    <td
                    class="flex flex-row justify-center text-white text-sm space-x-16"
                    >
                    <p class="min-w-64">Terms of Service</p>
                    <p class="min-w-64">FAQs</p>
                    <p class="min-w-64">Privacy Policy</p>
                  </td>
                </tr>
              </table>
              <img src="images/logo.png" alt="" class="mb-6" />
              <hr class="border-0 bg-white text-white h-px w-2/4" />
              
              <p class="text-xs text-white mx-96 px-80">
                You are receiving this email because you signed up as a
                Queenly user. We will send you emails notifying you of
                offers, purchases, questions, and occasional promotions.
                You can unsubscribe from these emails.
              </p>
            </td>
          </tr>
          <!-- bottom text -->
          <tr>
            <td
            class="flex flex-row justify-center text-xs space-x-48 text-white"
            >
            <p>Need help? Contact us here: info@queenly.com</p>
            <p>
              Queenly Inc - 45 Lansing St, San Francisco, CA 94105
            </p>
            <p>
              Copyright © 2020, Queenly Inc., All rights reserved.
            </p>
          </td>
        </tr>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
