---
title: "Order Shipped"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
bodyClass: bg-gray-100
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-white sm:px-0">
          <table class="w-600 sm:w-600 dark:bg-white">
            <!-- header -->

            <tr>
              <td
                class="h-500 text-center bg-100% bg-no-repeat text-gray-100"
                style="
                  background-image: url(https://i.imgur.com/9MBIlW6.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <p class="h-80 sm:h-80 sm:m-1">&zwnj;</p>
                <p class="text-white text-5xl font-bold mb-0">
                  Make Your First <br />
                  Sale on Queenly!
                </p>
                <p class="text-white text-20 mt-10">
                  Create a listing today--its easy and free!
                </p>

                <table class="mx-auto mb-80">
                  <tr>
                    <th
                      class="
                        bg-white
                        border-white border-2 border-solid
                        rounded-2xl
                        p-8
                      "
                    >
                      <a
                        href="#"
                        class="
                          block
                          font-medium
                          border-white
                          text-purple-dark text-lg
                          leading-full
                          py-6
                          px-36
                          no-underline
                        "
                        >SHOP NOW</a
                      >
                    </th>
                  </tr>
                </table>
                <p class="h-0 sm:h-40 sm:m-1">&zwnj;</p>
              </td>
            </tr>
            <!-- 1st section -->
            <tr>
              <td class="bg-100% bg-no-repeat">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              p-40
                              pt-0
                              text-15
                            "
                          >
                            <p class="mb-24 font-bold text-3xl">
                              Post your first dress on <br />
                              Queenly in 5 easy steps:
                            </p>
                            <p class="font-medium text-20 p-0">
                              List items that no longer spark joy for you! It
                              will spark joy for someone new.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 2nd section -->
            <tr>
              <td class="bg-100% bg-no-repeat">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600 px-72">
                        <tr>
                          <td class="align-middle">
                            <p class="text-purple-dark text-3xl font-semibold">
                              STEP 1:
                            </p>
                            <p class="text-purple-dark text-3xl font-semibold">
                              STEP 2:
                            </p>
                          </td>
                          <td class="ml-10">
                            <p class="text-purple-dark text-20">
                              Tap "Sell"
                              <img
                                class=""
                                src="https://i.imgur.com/gWyrCm9.png"
                              />
                              icon on the <br />
                              bottom navagation bar
                            </p>
                            <p class="text-purple-dark text-20">
                              Tap<img
                                class=""
                                src="https://i.imgur.com/SlXMWQw.png"
                              />
                              a dress icon on <br />
                              the bottom navigation bar
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 3nd section -->
            <tr>
              <td
                class="bg-100% bg-no-repeat"
                style="
                  background-image: url(https://i.imgur.com/cggjUf0.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td>
                            <p class="h-200 sm:h-200 sm:m-1">&zwnj;</p>
                            <p class="h-48 sm:h-100 sm:m-1">&zwnj;</p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- SVG section -->
            <tr>
              <td class="bg-white text-center">
                <p
                  class="
                    text-center text-3xl
                    mb-1
                    mt-48
                    font-semibold
                    text-purple-dark
                  "
                >
                  STEP: 4
                </p>
                <p class="text-purple-dark text-20 mt-5">
                  Don’t forget these key details:
                </p>
                <table class="text-purple-dark w-600 pb-24 px-6">
                  <tr>
                    <td class="w-1/3 px-12">
                      <img class="" src="https://i.imgur.com/zvS2eNn.png" />
                    </td>
                    <td class="w-1/3 px-12">
                      <img class="" src="https://i.imgur.com/jzGplLC.png" />
                    </td>
                    <td class="w-1/3 px-12">
                      <img class="" src="https://i.imgur.com/PplaxWA.png" />
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1/3 px-12">
                      <p class="text-20">1 or more photos of the dress</p>
                    </td>
                    <td class="w-1/3 px-12">
                      <p class="text-20">Dress size</p>
                    </td>
                    <td class="w-1/3 px-2">
                      <p class="text-20">Dress color</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1/3 px-12">
                      <img
                        class="mt-10"
                        src="https://i.imgur.com/Msl0LgC.png"
                      />
                    </td>
                    <td class="w-1/3 px-12">
                      <img class="" src="https://i.imgur.com/fHVhau7.png" />
                    </td>
                    <td class="w-1/3 px-12">
                      <img class="" src="https://i.imgur.com/EVw0Lhs.png" />
                    </td>
                  </tr>

                  <tr>
                    <td class="w-1/3 px-2">
                      <p class="text-20">Style of the dress</p>
                    </td>
                    <td class="w-1/3 px-2">
                      <p class="text-20">
                        Condition of <br />
                        the dress
                      </p>
                    </td>
                    <td class="w-1/3 px-2">
                      <p class="text-20">Price</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 5nd section -->
            <tr>
              <td class="bg-purple-dark">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td class="text-center text-white">
                            <h1 class="mb-0 pb-0">STEP: 5</h1>
                            <table class="w-600">
                              <tr>
                                <!-- <td class="w-1/12"></td> -->
                                <td class="pl-12 pb-8 mt-1">
                                  <img
                                    class="h-44 w-40 pl-44"
                                    src="https://i.imgur.com/BbCdPkZ.png"
                                  />
                                </td>
                                <td class="">
                                  <h3 class="font-medium mt-1">
                                    Tap “Post Dress for Sale” to finalize
                                    listing
                                  </h3>
                                </td>
                                <td class="pr-12 pb-8 mt-1">
                                  <img
                                    class="h-44 w-40 pr-44"
                                    src="https://i.imgur.com/BbCdPkZ.png"
                                  />
                                </td>
                                <!-- <td class="w-1/12"></td> -->
                              </tr>
                            </table>
                            <table class="mx-auto mb-24">
                              <tr>
                                <th
                                  class="
                                    bg-white
                                    border-white border-2 border-solid
                                    rounded-3xl
                                    p-8
                                  "
                                >
                                  <a
                                    href="#"
                                    class="
                                      block
                                      font-medium
                                      border-white
                                      text-purple-dark text-lg
                                      leading-full
                                      py-6
                                      px-24
                                      no-underline
                                    "
                                    >Post Dress for Sale</a
                                  >
                                </th>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 6th section -->
            <tr>
              <td
                class="bg-100% bg-no-repeat"
                style="
                  background-image: url(https://i.imgur.com/Z3kUBbi.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td>
                            <p class="h-80 sm:h-120 sm:m-1">&zwnj;</p>
                            <p class="h-48 sm:h-40 sm:m-1">&zwnj;</p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- footer -->
            <tr>
              <td>
                <table
                  class="w-600"
                  style="background: linear-gradient(#5e00e7, #682aeb)"
                >
                  <tr>
                    <td class="h-24 sm:h-32"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-white h-24">
                      <p class="mb-0 text-eleven font-bold">
                        Need help? Contact us here: info@queenly.com
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center w-full">
                      <table class="w-600">
                        <tr>
                          <td class="w-3/12"></td>
                          <td class="w-1/12">
                            <a
                              href="https://www.linkedin.com/company/queenly"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/Wf8ZzfC.png"
                                alt="linkedin"
                                class="text-white"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.pinterest.com/queenlyapp/_created/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/CAYhK1u.png"
                                alt="pinterest"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.tiktok.com/@queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/APQRVHs.png"
                                alt="tiktok"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.instagram.com/queenlyapp/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NT1vR4D.png"
                                alt="instagram"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.facebook.com/queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NzdPTxH.png"
                                alt="facebook"
                              />
                            </a>
                          </td>
                          <td class="w-3/12"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <table
                        class="w-full sm:w-full mt-0 mb-3 text-white text-sm"
                      >
                        <tr>
                          <td class="w-1/5"></td>
                          <td class="w-1/5 text-right">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/terms-of-service
                              "
                                >Terms of Service</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href=" https://queenly.com/faqs/"
                                >FAQs</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5 text-left">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/privacy-policy"
                                >Privacy Policy</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5"></td>
                        </tr>
                      </table>
                      <hr
                        class="border-0 bg-white text-white h-px w-7/12 mt-2"
                      />
                      <img
                        src="https://i.imgur.com/Y0KDMcO.png"
                        alt="logo"
                        class="mb-6 p-4 w-64 h-64"
                      />

                      <p class="text-xs text-white px-120 mx-40 sm:px-6">
                        You are receiving this email because you signed up as a
                        Queenly user. We will send you emails notifying you of
                        offers, purchases, questions, and occasional promotions.
                        You can
                        <a href="..." class="text-white">unsubscribe</a> from
                        these emails.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-24 sm:h-2"></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        class="w-full text-xs ml-24 sm:ml-2 mb-6 text-white"
                      >
                        <tr>
                          <td class="w-1/3 no-underline">
                            <p>Need help? Contact us here: info@queenly.com</p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Queenly Inc - 45 Lansing St, San Francisco, CA
                              94105
                            </p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Copyright © 2020, Queenly Inc., All rights
                              reserved.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- end -->
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
