---
title: "Order Shipped"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
bodyClass: bg-gray-100
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-white sm:px-0">
          <table class="w-600 sm:w-600 dark:bg-white">
            <!-- header -->

            <tr>
              <td
                class="h-425 text-center bg-100% bg-no-repeat text-gray-100"
                style="
                  background-image: url(https://i.imgur.com/1qTybdl.png);
                  display: block;
                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <p class="h-64 sm:h-120 sm:m-1">&zwnj;</p>
                <p class="text-5xl font-bold mb-0">
                  How to be a <br />
                  Super Seller
                </p>
                <p class="text-20">Tips to getting paid with Queenly</p>
              </td>
            </tr>
            <!-- 1st section -->
            <tr>
              <td class="bg-100% bg-no-repeat">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              p-40
                              pt-0
                              pb-0
                              text-15
                            "
                          >
                            <p class="mb-24 mt-10 font-semibold text-xl">
                              Earn extra cash with us through your dress sales.
                            </p>
                            <p class="font-medium text-lg">
                              We have curated a list of pointers to help ease
                              your selling process on Queenly.
                            </p>
                            <p class="mb-24 font-semibold text-xl">
                              List Your Dress
                            </p>
                            <p class="mb-24 text-lg">
                              Let buyers discover your listing in a few easy
                              steps:
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- SVG section -->
            <tr>
              <td class="bg-white text-center">
                <table class="text-purple-dark w-600 pb-64 px-6">
                  <tr>
                    <td class="w-1/3">
                      <img class="" src="https://i.imgur.com/0K2UFEu.png" />
                    </td>
                    <td class="w-1/3">
                      <img class="" src="https://i.imgur.com/Bp6EPgf.png" />
                    </td>
                    <td class="w-1/3">
                      <img class="" src="https://i.imgur.com/ICcY8KL.png" />
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1/3">
                      <p>
                        Take Good <br />
                        Photos
                      </p>
                    </td>
                    <td class="w-1/3">
                      <p>Price right!</p>
                    </td>
                    <td class="w-1/3">
                      <p>Effective Product description</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 3nd section -->
            <tr>
              <td class="bg-purple-dark">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600 p-20">
                        <tr>
                          <td class="text-center text-white">
                            <h1 class="mb-0 pb-0">Communication is Key!</h1>

                            <h3 class="font-medium text-lg">
                              Connect with your buyers and respond to their
                              <br />
                              questions in a quick manner.
                            </h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 4th section -->
            <tr>
              <td class="bg-100% bg-no-repeat">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              p-40
                              pt-0
                              pb-0
                              text-15
                            "
                          >
                            <p class="mb-24 text-xl">Check your Email!</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              pt-0
                              text-15
                            "
                          >
                            <img
                              class=""
                              src="https://i.imgur.com/CWI2KoI.png"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              p-40
                              pt-0
                              text-15
                            "
                          >
                            <p class="font-medium text-lg">
                              We will notify you as soon as a buyer interacts
                              (purchases or makes an offer) with your listing.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 5th section -->
            <tr>
              <td
                class="bg-100% bg-no-repeat h-425"
                style="
                  background-image: url(https://i.imgur.com/mkH7Ovr.png);
                  display: block;

                  min-width: 600px;
                  max-width: 600px;
                "
              >
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td class="text-center">
                            <table>
                              <tr>
                                <td class="w-9/12 p-40">
                                  <!-- <p class="h-24 sm:h-120 sm:m-1">&zwnj;</p> -->
                                  <p
                                    class="
                                      text-white text-3xl
                                      font-semibold
                                      mb-0
                                      pb-5
                                    "
                                  >
                                    Qualitly Guarantee
                                  </p>
                                  <p class="text-white p-20 text-lg mb-0 py-5">
                                    Dresses over $300 will be shipped to Queenly
                                    HQ for a quality assurance check.
                                  </p>
                                  <p class="text-white p-20 text-lg pt-5">
                                    Please disclose any damages, stains, etc. to
                                    avoid refunds or sale cancellations.
                                  </p>
                                </td>
                                <td class="w-3/12"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 6th section -->
            <tr>
              <td class="bg-100% bg-no-repeat">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600">
                        <tr>
                          <td
                            class="
                              text-center
                              font-medium
                              text-purple-dark
                              p-40
                              pt-0
                              pb-0
                              text-15
                            "
                          >
                            <p class="mb-24 text-xl font-medium">
                              Ship in a Timely Manner
                            </p>
                            <p class="font-medium text-lg">
                              Your buyers are eager to receive their new
                              dresses!
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td class="bg-white text-center">
                            <table class="text-purple-dark w-600 pb-64 px-6">
                              <tr>
                                <td>
                                  <img
                                    class="my-10"
                                    src="https://i.imgur.com/5tryoBD.png"
                                  />
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Print your pre-paid shipping label</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <img
                                    class="my-10"
                                    src="https://i.imgur.com/TASEYkT.png"
                                  />
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Pack the precious cargo</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <img
                                    class="my-10"
                                    src="https://i.imgur.com/DKMQRFv.png"
                                  />
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    Drop off the box at your local USPS as soon
                                    as you can.
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- 7th section -->
            <tr>
              <td class="bg-purple-dark">
                <table align="center" class="w-600">
                  <tr>
                    <td>
                      <table class="w-600 p-20">
                        <tr>
                          <td class="text-center text-white">
                            <h1 class="mb-0 pb-0">
                              Let’s start hustling, Queen!
                            </h1>

                            <h3 class="font-medium text-lg">
                              If you need help, feel free to reach out to <br />
                              the Queenly team.
                            </h3>
                          </td>
                        </tr>
                      </table>
                      <table class="w-600">
                        <tr>
                          <!-- <td class="w-1/12"></td> -->
                          <td class="pl-64 w-64">
                            <img
                              class="h-64"
                              src="https://i.imgur.com/qxuAibt.png"
                            />
                          </td>
                          <td class="text-center">
                            <table class="mx-auto">
                              <tr>
                                <th
                                  class="
                                    bg-white
                                    border-white border-2 border-solid
                                    rounded-2xl
                                    p-8
                                  "
                                >
                                  <a
                                    href="#"
                                    class="
                                      block
                                      font-medium
                                      border-white
                                      text-purple-dark text-lg
                                      leading-full
                                      py-6
                                      px-36
                                      no-underline
                                    "
                                    >START SELLING</a
                                  >
                                </th>
                              </tr>
                            </table>
                          </td>
                          <td class="pr-64 w-64">
                            <img
                              class="h-64"
                              src="https://i.imgur.com/1ana5DW.png"
                            />
                          </td>
                          <!-- <td class="w-1/12"></td> -->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- footer -->
            <tr>
              <td>
                <table
                  class="w-600"
                  style="background: linear-gradient(#682aeb, #975cfc)"
                >
                  <tr>
                    <td class="h-24 sm:h-32"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-white h-24">
                      <p class="mb-0 text-eleven font-bold">
                        Need help? Contact us here: info@queenly.com
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center w-full">
                      <table class="w-600">
                        <tr>
                          <td class="w-3/12"></td>
                          <td class="w-1/12">
                            <a
                              href="https://www.linkedin.com/company/queenly"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/Wf8ZzfC.png"
                                alt="linkedin"
                                class="text-white"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.pinterest.com/queenlyapp/_created/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/CAYhK1u.png"
                                alt="pinterest"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.tiktok.com/@queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/APQRVHs.png"
                                alt="tiktok"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.instagram.com/queenlyapp/"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NT1vR4D.png"
                                alt="instagram"
                              />
                            </a>
                          </td>
                          <td class="w-1/12">
                            <a
                              href="https://www.facebook.com/queenlyapp"
                              class="no-underline"
                            >
                              <img
                                src="https://imgur.com/NzdPTxH.png"
                                alt="facebook"
                              />
                            </a>
                          </td>
                          <td class="w-3/12"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <table
                        class="w-full sm:w-full mt-0 mb-3 text-white text-sm"
                      >
                        <tr>
                          <td class="w-1/5"></td>
                          <td class="w-1/5 text-right">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/terms-of-service
                              "
                                >Terms of Service</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href=" https://queenly.com/faqs/"
                                >FAQs</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5 text-left">
                            <p>
                              <a
                                class="
                                  text-white
                                  no-underline
                                  mb-2
                                  text-eleven
                                  font-semibold
                                "
                                href="https://queenly.com/privacy-policy"
                                >Privacy Policy</a
                              >
                            </p>
                          </td>
                          <td class="w-1/5"></td>
                        </tr>
                      </table>
                      <hr
                        class="border-0 bg-white text-white h-px w-7/12 mt-2"
                      />
                      <img
                        src="https://i.imgur.com/Y0KDMcO.png"
                        alt="logo"
                        class="mb-6 p-4 w-64 h-64"
                      />

                      <p class="text-xs text-white px-120 mx-40 sm:px-6">
                        You are receiving this email because you signed up as a
                        Queenly user. We will send you emails notifying you of
                        offers, purchases, questions, and occasional promotions.
                        You can
                        <a href="..." class="text-white">unsubscribe</a> from
                        these emails.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-24 sm:h-2"></td>
                  </tr>
                  <tr>
                    <td>
                      <table
                        class="w-full text-xs ml-24 sm:ml-2 mb-6 text-white"
                      >
                        <tr>
                          <td class="w-1/3 no-underline">
                            <p>Need help? Contact us here: info@queenly.com</p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Queenly Inc - 45 Lansing St, San Francisco, CA
                              94105
                            </p>
                          </td>
                          <td class="w-1/3">
                            <p>
                              Copyright © 2020, Queenly Inc., All rights
                              reserved.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- end -->
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
